@model HomeDetailsViewModel

@{
	ViewBag.PageTitle = "Employee details";
}
@*View model approach*@
<div>
	Name: @Model.Employee.Name
</div>
<div>
	Email: @Model.Employee.Email
</div>
<div>
	Department: @Model.Employee.Department
</div>
<div>
	ID: @Model.Employee.Id
</div>

<img src="~/images/@(Model.Employee.ProfileImage ?? "users.jpg")" asp-append-version="true" />
<a asp-controller="home" asp-action="Index" class="btn btn-secondary btn-sm">Back</a>

@section Scripts{
	<script src="~/js/customscript.js"></script>
}
