@model int

@{
	ViewBag.Title = "404 Error";
}
<div class="alert alert-danger my-3 mx-3">
	<h4>404 Not Found Error: </h4>
	<hr />
	<h5>Employee with ID @Model does not exist</h5>
</div>

<a asp-action="index" asp-controller="home" class="btn btn-outline-secondary mx-3">Return to home</a>